
<div class="introdiv">
  <div class="container">
    <div class="row animated fadeIn">
        <div class="col-md-12 animated fadeIn slow">
          <div class="centerdiv text-center">
              <img style="border-radius:50%" class="imgshadow" src="../assets/strider_profile.jpg">
              <div class="mt-3">
                  <h1><ngx-typed-js [loop]="true" [strings]="['Software Development.', 'Music Production.', 'Strider White.']" [shuffle]="false" [typeSpeed]="80">
                      <span class="typing"></span>
                    </ngx-typed-js>
                  </h1>
              </div>
          </div>      
        </div>
    </div>
  </div>
</div>

<div class="container" style="color:black">
    <div class="row animated fadeIn mt-3 mb-3 ">
        <div class="col-md-12 animated fadeIn slow mt-3">
          <h1><b><span style="color:green"> <fa name="fas fa-code"></fa> </span><u><span style="margin-left:15px">Software Development Projects</span></u></b></h1>    
        </div>
    </div>

    <div class="row animated fadeIn mt-3 mb-3 ">
        <div class="col-md-12 animated fadeIn slow mt-3">
          <h2><a href="https://www.mvrkmusic.com/" target="_blank">https://app.MVRKMusic.com</a></h2>    
        </div>     
    </div>

    <div class="row mt-3 mb-3 ">
        <div class="col-md-6 text-center">
          <img style="height:200px; width:200px" src="../assets/mvrk_logo_new.png">
        </div>
        <div class="col-md-6 mt-3 mb-3 ">
            <b>Role:</b> CTO & Lead Software Developer <br><br>

            <b>Description:</b> Free tools for independent musicians. Put your entire online presence into a centralized searchable database so venues can find and book you. Get access to any industry tool or resource you need to grow your fanbase, produce new tracks, collaborate with industry pros, and plan tours. Get an answer to every question, and solve every problem you face as you build your career as an independent musician.
        </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-md-6">
        <h2>Features</h2>
        <br>
          <ul>
            <li>Search and filter local artists by location, artist type, presale tickets, and more</li>
            <li>Free publicly accessible artist EPK (Electronic Press Kit)</li>
            <li>Artist Resources</li>
            <li>"My Shows" -  a fully functional financal management system for venues to keep track of show expenses and income streams</li>
          </ul>
      </div>
      <div class="col-md-6">
          <h2>Technical Specifications: </h2><br>
          <ul>
              <li>Mobile Friendly Angular + Bootstrap SPA Front End</li>
              <li>NodeJS Express REST API</li>   
              <li>JWT and Session Management</li>   
              <li>DynamoDB Backend</li>     
              <li>AWS Services: Cognito, Route53, CloudFront</li>  
              <li>SSL & Stripe Integration</li>   
              <li>Thousands of lines of custom code & <span style="color:red"> <fa name="fas fa-heart"></fa></span></li>    
            </ul>
      </div>
    </div>

    <hr>


    <div class="row animated fadeIn mt-3 mb-3 ">
        <div class="col-md-12 animated fadeIn slow mt-3">
          <h2><a href="https://www.rtnest.ca" target="_blank">https://www.rtnest.ca</a></h2>    
        </div>     
    </div>

    <div class="row mt-3 mb-3 ">
        <div class="col-md-6">
            <b>Role:</b> Fullstack Developer <br><br>

            <b>Description:</b> Custom-built invoice management software for Oil & Gas industry.

        </div>
        <div class="col-md-6 mt-3 mb-3  text-center">
            <img style="height:150px; width:150px" src="../assets/rtnest.png">
        </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-md-6">
        <h2>Responsiblities</h2>
        <br>
          <ul>
            <li>Primiarly focused on back-end dev with some front-end work.</li>
            <li>Managed various MySQL databases, created and modified tables, and wrote custom migration scripts.</li>
            <li>Pioneered a secure RESTful API using Express.</li>
            <li>Wrote comprehensive API documentation.</li>
          </ul>
      </div>
      <div class="col-md-6">
          <h2>Technical Specifications: </h2><br>
          <ul>
              <li>Vue + Bootstrap SPA Front End</li>
              <li>Express REST Api</li>
              <li>MySQL</li>     
              <li>SSL </li>   
            </ul>
      </div>
    </div>
    <hr>

     <div class="row animated fadeIn mt-3 mb-3 ">
        <div class="col-md-12 animated fadeIn slow mt-3">
          <h2><a href="https://mdiio.com/" target="_blank">https://mdiio.com/</a></h2>    
        </div>     
    </div>

    <div class="row mt-3 mb-3 ">
        <div class="col-md-6 text-center">
            <img style="height:75; width:250px" src="../assets/mdiio.PNG">
        </div>
        <div class="col-md-6 mt-3 mb-3 ">
            <b>Role:</b> Quality Assurance Analyst<br><br>

            <b>Description:</b> Get Heard. Build your community by adding collaborators to projects allowing for streamlined workflow and opportunities for future projects and licensing.
        </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-md-6">
        <h2>Responsiblities</h2>
        <br>
          <ul>
            <li>Quality Management </li>
            <li>Responsible for the testing of front end code for identifying bugs.</li>
            <li>Wrote custom automated unit tests</li>
            <li>Manual front-end testing</li>
            <li>Wrote comprehensive quality reports to project management teams.</li>
          </ul>
      </div>
      <div class="col-md-6">
          <h2>Technical Specifications: </h2><br>
          <ul>
            <br>
              <li>Angular + Bootstrap SPA Front End</li>
              <li>REST Api</li>
              <li>Msql</li>     
              <li>Azure</li>
            </ul>
      </div>
    </div>

    <hr>


    <div class="coolbg">
        <div class="row animated fadeIn mt-3 mb-3 ">
            <div class="col-md-12 animated fadeIn slow mt-3">
                <h1><b><span style="color:green"> <fa name="fas fa-terminal"></fa> </span>  <u><span style="margin-left:15px">Software Skills</span></u></b></h1>    
            </div>     
        </div>
    
        <div class="row mt-3 mb-3">
          <div class="col-md-12">
    
    
              <div class="wrapper">
                  <div class="skillbar" data-percent="90%">
                    <div class="skillbar-title">JavaScript</div>
                    <div class="skill-bar-percent">90%</div>
                    <div class="skillbar-bar" style="width: 90%;"></div>
                  </div>
                  <div class="skillbar" data-percent="75%">
                    <div class="skillbar-title">HTML/CSS</div>
                    <div class="skill-bar-percent">75%</div>
                    <div class="skillbar-bar" style="width: 75%;"></div>
                  </div>
                  <div class="skillbar" data-percent="85%">
                    <div class="skillbar-title">Angular</div>
                    <div class="skill-bar-percent">85%</div>
                    <div class="skillbar-bar" style="width: 85%;"></div>
                  </div>
                  <div class="skillbar" data-percent="65%">
                      <div class="skillbar-title">Vue</div>
                      <div class="skill-bar-percent">65%</div>
                      <div class="skillbar-bar" style="width: 65%;"></div>
                  </div> 
                 <div class="skillbar" data-percent="85%">
                    <div class="skillbar-title">Express</div>
                    <div class="skill-bar-percent">85%</div>
                    <div class="skillbar-bar" style="width: 85%;"></div>
                  </div>
                  <div class="skillbar" data-percent="85%">
                      <div class="skillbar-title">GIT</div>
                      <div class="skill-bar-percent">85%</div>
                      <div class="skillbar-bar" style="width: 85%;"></div>
                  </div>
                  <div class="skillbar" data-percent="75%">
                      <div class="skillbar-title">MySQL</div>
                      <div class="skill-bar-percent">75%</div>
                      <div class="skillbar-bar" style="width: 75%;"></div>
                  </div>
              </div>  
          </div>
        </div>
    </div>

    <div class="row animated fadeIn mt-3 mb-3 ">
        <div class="col-md-12 animated fadeIn slow mt-3">
            <h1><b><span style="color:green"> <fa name="fab fa-github"></fa> </span>  <u><span style="margin-left:15px">Github</span></u></b></h1>    
        </div>     
    </div>    

    <hr>

    <div class="row mt-3 mb-3 ">
      Check out my github below! Be aware that the majority of my commit history is private due to the repos being private themselves. If you want code samples or to take a look at some other projects feel free to message me!
    </div>


    <div class="row animated fadeIn mt-3 mb-3 ">
      <div class="col-md-12 animated fadeIn slow mt-3">
        <h2><a href="https://github.com/striderwhite" target="_blank">https://github.com/striderwhite</a></h2>    
      </div>     
   </div>


    <hr>

    <div class="row animated fadeIn mt-3 mb-3 ">
        <div class="col-md-12 animated fadeIn slow mt-3">
            <h1><b><span style="color:green"> <fa name="fas fa-envelope-square"></fa> </span>  <u><span style="margin-left:15px">Contact</span></u></b></h1>    
        </div>     
    </div>    

    <hr>


    
    <div class="row animated fadeIn mt-3 mb-3 ">
      <div class="col-md-12 animated fadeIn slow mt-3">
        <h4>strider@striderwhite.com</h4>    
      </div>     
   </div>


</div>
